#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.link-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 2rem;
}

.page-one {
  display: flex;
  flex-direction: column;
}

p {
  max-width: 600px;
}
